<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="primary">
      <ion-button routerLink="/albums">
        <ion-icon color="danger" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>create-album</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Titulo</ion-label>
          <ion-input [(ngModel)]="album.title" ></ion-input> 
        </ion-item>

        <ion-item>
          <ion-label>Fecha</ion-label>
          <ion-datetime [(ngModel)]="album.releaseDate" placeholder="Selecciona" displayFormat="YYYY" min="1900" max="2020"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Precio</ion-label>
          <ion-input [(ngModel)]="album.price" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Genero</ion-label>
          <ion-input [(ngModel)]="album.genre" ></ion-input>
        </ion-item>
      </ion-list>

      <ion-button (click)="save()" expand="full"> Guardar </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
