<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />

	<jaxws:endpoint id="helloWorld" implementor="com.jaxws.ws.HelloWorldImpl"
		address="/HelloWorld" />

	<jaxws:endpoint id="retrieveUserService"
		implementor="com.jaxws.ws.RetrieveUserServiceImpl" address="/RetrieveUserService" />

	<jaxws:endpoint id="updateUserService"
		implementor="com.jaxws.ws.UpdateUserServiceImpl" address="/UpdateUserService" />

	<jaxws:endpoint id="createUserService" implementor="com.jaxws.ws.CreateUserServiceImpl"
		address="/CreateUserService" />

	<jaxws:endpoint id="deleteUserService" implementor="com.jaxws.ws.DeleteUserServiceImpl"
		address="/DeleteUserService" />

	<jaxws:endpoint id="retrieveStatesService"
		implementor="com.jaxws.ws.RetrieveStatesServiceImpl" address="/RetrieveStatesService" />

	<jaxws:endpoint id="retrieveCitiesService"
		implementor="com.jaxws.ws.RetrieveCitiesServiceImpl" address="/RetrieveCitiesService" />



</beans>
