*{
	margin: 0px;
	padding:0px;
}

#header{
	height: 10vh;
}
#content{
	height: 90vh;
}

.nb-error {
  margin: 0 auto !important;
  text-align: center !important;
  max-width: 480px !important;
  padding: 60px 30px !important;
  color: red !important;
}

.nb-error .error-code 
  color: #2d353c !important;
  font-size: 96px !important;
  line-height: 100px !important;
}

.nb-error .error-desc {
  font-size: 12px !important;
  color: #647788 !important;
}
.nb-error .input-group{
  margin: 30px 0 !important;
}
