<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:jaxws="http://cxf.apache.org/jaxws"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

        <import resource="classpath:META-INF/cxf/cxf.xml" />

        <jaxws:endpoint 
          id="helloWorld" 
          implementor="com.orlando.ws.HelloWorldImpl" 
          address="/HelloWorld" />
          
          <jaxws:endpoint 
          id="retrievePersonService" 
          implementor="com.orlando.ws.RetrievePersonServiceImpl" 
          address="/RetrievePersonService" />
          
           <jaxws:endpoint 
          id="createPersonService" 
          implementor="com.orlando.ws.CreatePersonServiceImpl" 
          address="/CreatePersonService" />
          
           <jaxws:endpoint 
          id="deletePersonService" 
          implementor="com.orlando.ws.DeletePersonServiceImpl" 
          address="/DeletePersonService" />
          
          <jaxws:endpoint 
          id="updatePersonService" 
          implementor="com.orlando.ws.UpdatePersonServiceImpl" 
          address="/UpdatePersonService" />
          
</beans>
