<ion-header>
  <ion-toolbar color="dark">
    <ion-title>albums</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>

  <ion-item-sliding *ngFor="let album of albumsList">
    <ion-item detail>
      <ion-label (click)="openSongsPage(album.id)" >{{album.title}}</ion-label>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option (click)="editPage(album.id)" color="primary">
        <ion-icon slot="start" name="pencil-outline"></ion-icon>
        Edit
      </ion-item-option>
      <ion-item-option (click)="deleteAlbum(album.id)" color="danger">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Delete
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  
</ion-list>


<!-- fab placed to the bottom end -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="danger" routerLink="/albums/create">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
