<ion-header>
  <ion-toolbar color="primary">
    <ion-title>albums</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-list>
    <ion-item detail routerLink="/songs">
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item detail detail>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item detail>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item detail>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item detail>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" routerLink="/create-album">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
