<ion-header>
  <ion-toolbar color='dark'>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="auth.email" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input  [(ngModel)]="auth.password" type="password"></ion-input>
        </ion-item>
      </ion-list>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button routerLink="/home" color="primary" expand="full">
              Registrar
            </ion-button>
          </ion-col>

          <ion-col >
            <ion-button (click)="login()"  color="primary" expand="full">
              Login
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
