<ion-header>
  <ion-toolbar color="dark">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Text Items -->
  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input placeholder="Enter Input"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input placeholder="Enter Input"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input placeholder="Enter Input"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" placeholder="Enter Input"></ion-input>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button shape="round" expand="full" color="primary">Register</ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round" expand="full" color="danger">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
